<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite" verbose="1">
    <test name="login tests">
        <classes>
            <class name="tests.FirstRestAssured">
                <methods>
                    <!--<include name="testGetUploadImageDataPostAPI"/>-->
                    <!--<include name="testDeletePetDetailsByIdAPI"/>-->
                    <include name="testCreateUserWithArrayPostAPI"/>
                </methods>
            </class>
        </classes>
    </test>
 </suite>